/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.TeaStore-Container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.TeaStore-Container li {
  color: red;
}
